<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>
    
<body>
    <h1>Quality Report</h1>

    <h2>Image Preview</h2>
    <img src="{{ image_url }}" alt="Uploaded Ad Image" style="width: 300px; height: auto;">

    <h2>Text Analysis</h2>
    <p>{{ analytics_text }}</p>

    {% if color_palette %}
    <h2>Extracted Colors:</h2>
        {% for color in color_palette %}
            <div class="color-box" style="background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});"></div>
        {% endfor %}
    {% endif %}
    </div>

</body>
</html>
